@model Teams.Domain.SingleSelectionQuestion
@using Westwind.AspNetCore.Markdown

@{
    ViewData["Title"] = "SingleSelectionQuestion";
}

@Markdown.ParseHtmlString(Model.Text)

<div>
    <hr />
    @foreach (var option in Model.Options)
    {
        <div id=@option.Id><label><input type="radio" id=@option.Id name="answer" onchange="select()">@option.Text</label></div>
        <br />
    }
    <input type="button" id="confirmBtn" value="Подтвердить">
</div>

<script>

    confirmBtn.onclick = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("FindAnswer", new { questionId = Model.Id})",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (obj) {
                $("#" + obj.id).css("border", "2px solid green");
            }
        });

        document.getElementsByName('answer')
            .forEach(function (x) { x.disabled = true; });
    }

</script>
