@model Teams.Domain.SingleSelectionQuestion

@{
    ViewData["Title"] = "ShowQuestion";
}

<h1>@Model.Text</h1>

<div>
    <hr />
    @foreach (var option in Model.OptionList)
    {
        <div id=@option.Id><label><input type="radio" id=@option.Id name="myradio" onchange="select()">@option.Text</label></div>
        <br />
    }
    <input type="button" id="btn" value="Подтвердить">
</div>

<script>

    btn.onclick = function () {
        var model = @Html.Raw(Json.Serialize(Model));
        var ans = model.optionList.find(x => x.isAnswer);
        $("#" + ans.id).css("border", "1px solid green");

        var r = document.getElementsByTagName('input');
        for (var i in r)
            if (r[i].type == 'radio' && r[i].name == 'myradio')
                r[i].disabled = true;
    
    }

</script>