@*@model IEnumerable<EpamTesting.Domain.Question>*@

@{
    ViewData["Title"] = "База Question";
}

<h3> <font color="#ff000"> @ViewData["Error"]</font> </h3>
<h3>Choose the question number in between: 1 - @ViewData["LastNumberQuestion"] </h3>

<form method="get" action="/Home/Quest">
    <input type="text" name="IdQuest" value=@ViewData["Id"] />
    <input type="submit" value="Select" />
</form>