@{
    ViewData["Title"] = "База Question";
}

<h3>
    <font color="#0026ff">
        @ViewData["question"]
    </font>
</h3>

<form method="get" action="/Home/Check">
    <input type="text" name="Answer" value="" />
    <input type="submit" value="check" />
</form>