@{
    ViewData["Title"] = "Answer";
}
    <script>

        window.onload = function () {
            
            var isTrue = '@ViewData["color"]' == "True";
            alert('alert:  ' + isTrue)
            if (isTrue) 
                $("#colorChange").css("border", "3px solid green")
            else
                $("#colorChange").css("border", "3px solid red")

        }

    </script>

<div>
    <h3>
        <font color="#0026ff">
            @ViewData["question"]
        </font>
    </h3>

    <input id ="colorChange" type="text" readonly name="answer" value='@ViewBag.Answer' />
</div>