@model Teams.Models.OpenAnswerQuestionModel
@{
    ViewData["Title"] = "Answer";
}
    <style>
    .colorGreen{       
        border: 3px solid green;      
    }
    .colorRed {
            border: 3px solid green;
    }
    </style>
<div>
    <h3>
        @Model.Question
    </h3>

    <input type="text" readonly name="answer" class="@(Model.IsAnswer ? "colorgreen" : "colorred")" value='@Model.Answer' />
</div>