@{
    ViewData["Title"] = "Question";
}
<div>
   
    <h3>
        <font color="#0026ff">
            @ViewData["question"]
        </font>
    </h3>

    <form method="get" action="/OpenAnswerQuestion/Answer">
        <input type="text" name="answer"  />
        <input type="text" name="id"  value="@ViewData["id"]" hidden/>
        <input type="submit" value="Проверить" />
    </form>
</div>