@model Teams.Domain.TestRun

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestRun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestedUserID" class="control-label"></label>
                <select asp-for="TestedUserID" class ="form-control" asp-items="ViewBag.TestedUserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <input asp-for="TestId" class="form-control" />
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InProgress" /> @Html.DisplayNameFor(model => model.InProgress)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AnswersCounter" class="control-label"></label>
                <input asp-for="AnswersCounter" class="form-control" />
                <span asp-validation-for="AnswersCounter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
