@using Teams.Domain
@model AnswerViewModel
@{
    int answersCount = 0;
    if (Model.TestQuestion.Question is MultipleAnswerQuestion)
    {
        var temp = Model.TestQuestion.Question as MultipleAnswerQuestion;
        if (temp != null)
        {
            answersCount = temp.Answers.Count;
        }
    }
    else
    {
        answersCount = 1;
    }
}
@{
    ViewBag.Title = Model.TestQuestion.Question.Text;
    Layout = "_Layout";
}
<table class="table" id="testrun">
    <tr>@Model.TestQuestion.Question.Text</tr>
    @while (answersCount > 0)
    {
        <tr>
            <td>
                <input type="text" id="answer_text" name="answer"/>
            </td>
            <button class="btn btn-outline-secondary col" id="answerBtn">Answer</button>
        </tr>
        <tr>@answersCount answers left</tr>
        answersCount--;
    }
    <button class="btn btn-outline-secondary col" id="submitBtn">Submit answer(s)</button>
</table>
}

<script>
$(function () {
    let answers = [];
    $('#answerBtn').on('click', function () {
        answers.push("#answer_text");
    })
    $('#submitBtn').on('click', function() {
        var model = {
                        Id: "@Model.Id",
                        AnswerTexts: answers,
                        TestQuestion: "@Model.TestQuestion",
                        TestRunGuid: "@Model.TestRunGuid"
                    };
        $.ajax({
            url: "/TestRun/AddAnswer",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(answers).val(),
            error: function() {
                alert("Content load failed");
            }
        })
    })
})
</script>