@model Teams.Domain.Question

@{
    ViewBag.Title = Model.Test.Title;
    Layout = "_Layout";
}
@{List<string> answerText = new List<string>();}
<table class="table" id="testrun">
    @foreach (var ans in Model.TestQuestions.)
    {
        <tr>
            <td>
                @Html.Display(question.Question.Text)
            </td>
            <td><input type="text" id="answer_text" name="answer" /></td>
        </tr>
        <td><input type="submit" /></td>
    }
</table>

}
