<script type="text/javascript">

        function getMarkdownQuestion(textQuestion) {             
            $.ajax({
                url: "/MarkParser/GetMarkdownQuestion",
                type: "POST",
                dataType: 'json',
                data: { question: textQuestion },
                success: function (parsedQuestion) {
                    $("#OutQuestion divbody").remove();
                    $('#OutQuestion').append('<divbody><p>Parsed Question:</p> <p>' + parsedQuestion + '</p></divbody>')
                },
            });
        }

</script>


<form>
    <input type="button" value='Parse to Markdown' class='btn btn-light' onclick="getMarkdownQuestion(document.getElementById('@ViewData["TextQuestionId"]').value)" />
</form>
<div id="OutQuestion"></div>